:root {
    --background-color: #072227;
    --nav-color: #065A60;
    --light-color: #006466;
    --hover-color: #4D194D;
    --main-color: #AEFEFF;
    --secondary-red-color: #f23b4d;
  }
  
  body {
    background-color: var(--background-color);
    margin: 0;
    color: var(--main-color);
    font-family: "Questrial", sans-serif;
  }
  
  /* --------------------------- */
  /* LOADER */
  /* --------------------------- */
  .loader-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    z-index: 1000000;
    display: inline-block;
    transition: all 1s;
  }
  
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    background-color: var(--background-color);
    z-index: 2;
  }
  .loader .face {
    position: absolute;
    border: 2px solid #121212;
  }
  .loader .face.face1 {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--nav-color);
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    border-left: 10px solid var(--secondary-red-color);
    border-top: 10px solid var(--secondary-red-color);
    animation: animate-loader 3s linear infinite;
  }
  .loader .face.face2 {
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    background-color: var(--nav-color);
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    border-right: 10px solid var(--main-color);
    border-bottom: 10px solid var(--main-color);
    animation: animate-loader 3s linear reverse infinite;
  }
  .loader .face .circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 10px;
    transform-origin: left;
  }
  .loader .face.face1 .circle {
    transform: rotate(-45deg);
  }
  .loader .face.face2 .circle {
    transform: rotate(-45deg);
  }
  
  @media only screen and (max-width: 600px) {
    .loader {
      width: 250px;
      height: 250px;
    }
  }
  /* --------------------------- */
  /* NAV */
  /* --------------------------- */
  #fp-nav ul li a span {
    width: 2em;
    border-radius: 2px;
    background-color: var(--main-color);
  }
  
  #fp-nav > ul > li:nth-child(1) > div,
  #fp-nav > ul > li:nth-child(2) > div,
  #fp-nav > ul > li:nth-child(3) > div,
  #fp-nav > ul > li:nth-child(4) > div {
    color: var(--main-color);
  }
  
  .nav-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    height: 80px;
    align-items: center;
    z-index: 1;
  }
  .nav-container a {
    font-size: 15px;
    margin-left: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    word-break: break-word;
    /* padding-bottom: 10px; */
  }
  .nav-container .fa-bars {
    display: none;
  }
  .nav-container ul {
    /* width: calc(100% - 200px); */
    position: absolute;
    right: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .nav-container ul #close_mobileMenu_icon {
    display: none;
  }
  .nav-container ul li {
    margin-right: 50px;
  }
  @media only screen and (min-width: 600px) {
    .nav-container ul li.active a {
      font-size: 23px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #fp-nav {
      position: absolute;
      transform: rotate(-90deg);
      top: 80%;
      margin: auto auto;
    }
    #fp-nav.fp-left {
      left: 35%;
    }
  
    .nav-container .nav_mark {
      width: 100px;
      /* vertical-align: bottom; */
    }
    .nav-container ul {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 0vh;
      width: 100vw;
      position: absolute;
      bottom: 100%;
      z-index: 1000;
      transition: all 1s;
      top: -80%;
      background-color: var(--light-color);
    }
    .nav-container ul #close_mobileMenu_icon {
      display: block;
      width: 60px;
      height: 20px;
    }
    .nav-container ul li {
      margin: 0;
      margin-bottom: 40px;
    }
    .nav-container ul li a {
      width: 100%;
      font-size: 20px;
    }
  
    .fa-bars {
      display: block !important;
      position: absolute;
      right: 30px;
      font-size: 30px;
    }
  }
  /* --------------------------- */
  /* SECTION 1 */
  /* --------------------------- */
  .main-container .section1-container {
    display: flex;
    position: absolute;
    top: 11%;
    right: 0;
    width: calc(100% - 100px);
    height: 80vh;
    margin: 0;
    justify-content: center;
  }
  .main-container .section1-container .main-text {
    width: 70%;
    margin-left: 10%;
    margin-top: 10%;
  }
  .main-container .section1-container .main-text h1 {
    width: 550px;
    font-size: 120px;
    font-weight: 300;
    margin: 0;
  }
  .main-container .section1-container .main-text .typed {
    color: var(--secondary-red-color);
  }
  .main-container .section1-container .main-text .bars {
    width: 33%;
  }
  .main-container .section1-container .main-text .bars .separate-bar {
    transition: all 1s;
    width: 170px;
    height: 5px;
    background-color: var(--secondary-red-color);
    margin-top: 8px;
    border-radius: 100px;
  }
  .main-container .section1-container .main-text .bars .separate-bar2 {
    margin-left: 75px;
  }
  .main-container .section1-container .main-text .bars:hover .separate-bar1 {
    margin-left: 75px;
  }
  .main-container .section1-container .main-text .bars:hover .separate-bar2 {
    margin-left: 0;
  }
  .main-container .section1-container .main-text p {
    /* width: 300px; */
    font-size: 30px;
    font-weight: 100;
  }
  .main-container .section1-container .main-img {
    position: relative;
    left: 0;
    width: 30%;
    height: 100%;
  }
  .main-container .section1-container .main-img img {
    height: 90%;
    transition: all 0.7s;
  }
  .downarrow-icon i {
    position: absolute;
    bottom: 3%;
    font-size: 40px;
    left: 50%;
    animation: bajar-subir 2s ease infinite;
  }
  .downarrow-icon a {
    text-decoration: none;
    transition: all 1s;
    color: var(--main-color);
  }
  .downarrow-icon a:hover {
    color: var(--secondary-red-color);
  }
  
  @media only screen and (max-width: 600px) {
    .section1-container {
      width: 100%;
    }
    .section1-container .main-text {
      width: 100%;
      position: absolute;
      left: -50px;
      top: 6%;
    }
    .section1-container .main-text h1 {
      width: 340px !important;
      font-size: 80px !important;
    }
    .section1-container .main-img {
      display: none;
    }
  
    #fullpage > header > div > div > div.downarrow-icon {
      position: absolute;
      left: 50%;
      bottom: 130px;
    }
  }
  @media only screen and (max-width: 320px) {
    .section1-container .main-text h1 {
      width: 300px !important;
      font-size: 70px !important;
    }
  }
  /*--------------------------*/
  /* SECTION 2 */
  /*--------------------------*/
  .about_me_section .section2_text {
    margin: 4% auto;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about_me_section .section2_text h2 {
    display: inline-block;
    position: relative;
    margin-top: 5%;
    font-size: 35px;
    transition: all 1s;
    font-weight: 300;
  }
  .about_me_section .section2_text h2::after, .about_me_section .section2_text h2::before {
    content: "";
    position: absolute;
    transition: all 1s;
    width: 120px;
    height: 2px;
    background-color: var(--main-color);
    top: 50%;
  }
  .about_me_section .section2_text h2::before {
    right: 185px;
  }
  .about_me_section .section2_text h2::after {
    left: 185px;
  }
  .about_me_section .section2_text h2:hover::after, .about_me_section .section2_text h2:hover::before {
    width: 0px;
  }
  .about_me_section .section2_text p {
    font-size: 1.3em;
  }
  .about_me_section .section2_text .stack_text {
    width: 100%;
  }
  .about_me_section .section2_text .svg-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 20%;
    justify-content: space-between;
  }
  .about_me_section .section2_text .svg-container div {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about_me_section .section2_text .svg-container div svg {
    font-size: 3em;
    height: 1em;
    margin-top: 25px;
    transition: all 0.5s;
  }
  .about_me_section .section2_text .svg-container div h4 {
    display: none;
    border: 1px solid var(--main-color);
    position: absolute;
    font-weight: 300;
    width: 100px;
    padding: 10px;
    margin-top: 5.5em;
    text-align: center;
  }
  .about_me_section .section2_text .svg-container div:hover h4 {
    display: block;
  }
  .about_me_section .section2_text .svg-container div:hover svg {
    transform: scale(1.2);
  }
  .about_me_section .learning-container {
    margin-top: 50px;
    height: 150px;
    width: 100%;
    display: flex;
  }
  .about_me_section .learning-container div {
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 87px;
  }
  .about_me_section .learning-container div svg {
    font-size: 3em;
    height: 1em;
    margin-top: 11px;
    transition: all 0.5s;
  }
  .about_me_section .learning-container div h4 {
    display: none;
    border: 1px solid var(--main-color);
    position: absolute;
    width: 100px;
    font-weight: 300;
    padding: 10px;
    margin-top: 5.5em;
    text-align: center;
  }
  .about_me_section .learning-container div:hover h4 {
    display: block;
  }
  .about_me_section .learning-container div:hover svg {
    transform: scale(1.3);
  }
  .cv-download {
    width: 100%;
    margin-top: 30px;
  }
  .cv-download a {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  }
  .cv-download a span {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--background-color);
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    border-radius: 20px;
  }
  .cv-download a span:nth-child(2) {
    color: var(--main-color);
    background-color: var(--background-color);
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    height: 101%;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 50%);
    width: 101%;
  }
  .cv-download a span:nth-child(2):hover {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0% 50%);
  }
  .cv-download a span:nth-child(1):hover ~ span:nth-child(2) {
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 62%);
  }
  
  @media only screen and (max-width: 600px) {
    .about_me_section .section2_text h2 {
      margin-top: 100px;
      margin-bottom: 0;
    }
    .about_me_section .section2_text #aboutMeText {
      display: none;
    }
    .about_me_section .section2_text .svg-container {
      width: 90%;
      margin-bottom: 40px;
    }
    .about_me_section .section2_text .svg-container div:hover h4 {
      display: none;
    }
    .about_me_section .section2_text .svg-container div:hover svg {
      transform: scale(1.3);
    }
    .about_me_section .learning-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;
    }
    .about_me_section .learning-container div {
      display: block;
      margin-left: 0px;
      width: 50%;
      text-align: center;
    }
    .about_me_section .learning-container div h4 {
      display: none;
    }
    .about_me_section .learning-container div:hover h4 {
      display: none;
    }
    .about_me_section .learning-container div:hover svg {
      transform: scale(1.3);
    }
  
    .cv-download {
      text-align: center;
    }
  
    .cv-download a {
      font-size: 10px;
      width: 200px !important;
      height: 60px !important;
    }
  }
  /*--------------------------*/
  /* WORKS SECTION */
  /*--------------------------*/
  .work_section {
    max-width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 11%;
    margin-left: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
  .work_section h4 {
    position: absolute;
    top: 15%;
    left: auto;
    font-size: 30px;
    font-weight: 300;
  }
  .work_section .fp-tableCell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work_section .container {
    width: 100%;
    height: 70%;
    transform-style: preserve-3d;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work_section .container input[type=radio] {
    display: none;
  }
  .work_section .container .cards {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .work_section .container .cards .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s;
  }
  .work_section .container .cards .card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    transition: all 1s ease-out;
  }
  .work_section .container .cards .card .cape {
    color: var(--secondary-red-color);
    position: absolute;
    width: 100%;
    height: 80%;
    top: -6%;
    left: 0;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work_section .container .cards .card .cape a {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    text-align: center;
    line-height: 55px;
    margin: 10px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--background-color);
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    /* border: 2px solid var(--background-color); */
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .work_section .container .cards .card .cape a:hover span {
    transition: 0.4s ease-in;
    transform: translateY(-100%);
  }
  .work_section .container .cards .card .cape a span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: 0s ease-in;
  }
  .work_section .container .cards .card:hover .cape {
    visibility: visible;
    opacity: 1;
    top: 10%;
  }
  .work_section .container #item-2:checked ~ .cards #label-workImg1,
  .work_section .container #item-1:checked ~ .cards #label-workImg3,
  .work_section .container #item-3:checked ~ .cards #label-workImg2 {
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }
  .work_section .container #item-3:checked ~ .cards #label-workImg1,
  .work_section .container #item-1:checked ~ .cards #label-workImg2,
  .work_section .container #item-2:checked ~ .cards #label-workImg3 {
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
  }
  .work_section .container #item-1:checked ~ .cards #label-workImg1,
  .work_section .container #item-2:checked ~ .cards #label-workImg2,
  .work_section .container #item-3:checked ~ .cards #label-workImg3 {
    transform: translateX(0) scale(1);
    z-index: 1;
  }
  
  @media only screen and (max-width: 600px) {
    .work_section {
      margin-left: 0;
      text-align: center;
    }
    .work_section h4 {
      width: 300px;
    }
    .work_section .container .cards .cape {
      display: none;
    }
  
    #label-workImg1 > div > a,
  #label-workImg2 > div > a,
  #label-workImg3 > div > a {
      display: none;
    }
  }
  /*--------------------------*/
  /* CONTACT SECTION */
  /*--------------------------*/
  .contact-section {
    max-width: 100%;
  }
  .contact-section h4 {
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 300;
  }
  .contact-section .info-section {
    width: 300px;
    margin: 0;
    position: absolute;
    left: 20%;
  }
  .contact-section .info-section h5 {
    font-size: 25px;
  }
  .contact-section .info-section .email, .contact-section .info-section .adress, .contact-section .info-section .number-cel {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 30px; */
  }
  .contact-section .info-section .email h5, .contact-section .info-section .adress h5, .contact-section .info-section .number-cel h5 {
    margin: 4% 0 0 5%;
    display: flex;
    align-items: center;
  }
  .contact-section .info-section .email div, .contact-section .info-section .adress div, .contact-section .info-section .number-cel div {
    width: 50px;
    height: 50px;
    background-color: var(--nav-color);
    border-radius: 50%;
    text-align: center;
  }
  .contact-section .info-section .email div i, .contact-section .info-section .adress div i, .contact-section .info-section .number-cel div i {
    position: relative;
    top: 30%;
  }
  .contact-section .info-section .email p, .contact-section .info-section .adress p, .contact-section .info-section .number-cel p {
    margin-top: 8px;
    margin-left: 22%;
  }
  .contact-section .profile-card {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    margin: auto 20% auto auto;
    top: 0;
    overflow: hidden;
  }
  .contact-section .profile-card .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 1s;
  }
  .contact-section .profile-card .container img {
    width: 150px;
    position: absolute;
    top: 10%;
    border-radius: 50%;
  }
  .contact-section .profile-card .container h4 {
    position: absolute;
    top: 50%;
    font-size: 40px;
    margin: 0;
  }
  .contact-section .profile-card .container p {
    position: absolute;
    top: 60%;
    font-size: 25px;
  }
  .contact-section .profile-card .container img, .contact-section .profile-card .container h4, .contact-section .profile-card .container p, .contact-section .profile-card .container .profile-card__socialIcons i {
    opacity: 0.5;
    transition: all 1s;
  }
  .contact-section .profile-card .container .profile-card__socialIcons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    text-decoration: none;
  }
  .contact-section .profile-card .container .profile-card__socialIcons a {
    text-decoration: none;
    color: var(--main-color);
  }
  .contact-section .profile-card .container .profile-card__socialIcons i {
    font-size: 40px;
    margin: 30px;
    position: relative;
    top: 100%;
    text-decoration: none;
  }
  .contact-section .profile-card .container .profile-card__socialIcons i ~ .fa-linkedin {
    transition: all 1s;
  }
  .contact-section .profile-card .container .profile-card__socialIcons i ~ .fa-facebook-square {
    transition: all 1s;
  }
  .contact-section .profile-card .container .profile-card__socialIcons i ~ .fa-whatsapp {
    transition: all 1s;
  }
  .contact-section .profile-card:hover .container img, .contact-section .profile-card:hover .container h4, .contact-section .profile-card:hover .container p, .contact-section .profile-card:hover .container .profile-card__socialIcons i {
    opacity: 1;
  }
  .contact-section .profile-card:hover .container img {
    box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.98);
    -webkit-box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.98);
    -moz-box-shadow: -1px 1px 20px 7px rgba(0, 0, 0, 0.98);
    top: 8%;
  }
  .contact-section .profile-card:hover .container h4 {
    top: 48%;
  }
  .contact-section .profile-card:hover .container p {
    top: 58%;
  }
  .contact-section .profile-card:hover .profile-card__socialIcons i {
    top: 0px;
  }
  
  @media only screen and (max-width: 600px) {
    .contact-section h4 {
      margin-bottom: 0px;
    }
    .contact-section .contact-section_main {
      display: flex;
      flex-direction: column;
    }
    .contact-section .contact-section_main .info-section {
      position: relative;
      left: 30px;
    }
    .contact-section .contact-section_main .info-section div {
      align-items: center;
    }
    .contact-section .contact-section_main .info-section div h5 {
      display: none;
    }
    .contact-section .contact-section_main .info-section div p {
      position: absolute;
    }
    .contact-section .contact-section_main .profile-card {
      width: 85%;
      position: relative;
      margin-left: 30px;
      margin-top: 5%;
      height: 220px;
    }
    .contact-section .contact-section_main .profile-card img {
      width: 100px;
      height: 100px;
    }
    .contact-section .contact-section_main .profile-card h4 {
      display: none;
    }
    .contact-section .contact-section_main .profile-card p {
      transition: all 1s;
    }
    .contact-section .contact-section_main .profile-card .container:hover p {
      opacity: 0;
    }
  }
  /*--------------------------*/
  /* ANIMACIONES */
  /*--------------------------*/
  @keyframes bajar-subir {
    0% {
      transform: translateY(20px);
    }
    25% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(20px);
    }
  }
  @keyframes animate-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* # sourceMappingURL=index.css.map */
  